.m05auto {
  margin: 0.5em auto;
}
.productSingleCard {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5em;
  padding: 1em;
}
.m05auto {
  margin: 0.5em auto;
}
.font09 {
  font-size: 0.9em;
}
